name: Manual Trigger on Tag

on:
  workflow_dispatch:
#    inputs:
#      foobar:
#        description: 'Random Input'
#        required: true

jobs:
  build:
#    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    container: php:latest
    steps:
      - name: Display Tag Name
        run: echo "Tag name is ${{ toJson(github) }}"

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Generate build
        run: php src/build.php

      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: build_prod_${{ github.ref_name }}
          path: build.txt
  deploy:
    needs: build
    runs-on: ubuntu-latest
    container: php:latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name: build_prod_${{ github.ref_name }}
          path: build

      - name: Output build contents
        run: cat build/build_prod_${{ github.ref_name }}


