name: Manual Trigger on Tag

on:
  workflow_dispatch:
#    inputs:
#      foobar:
#        description: 'Random Input'
#        required: true

jobs:
  build:
#    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    container: php:latest
    steps:
      - name: Install zip extention. FIXME
        run: apt-get update && apt-get -y install libzip-dev && pecl install zip && docker-php-ext-enable zip

      - name: Display Tag Name
        run: echo "Tag name is ${{ toJson(github) }}"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate build
        run: echo "build_file=$(php src/build.php)\n" >> $GITHUB_OUTPUT
        id: generate_build

      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: build_prod.zip
          path: ${{ steps.generate_build.outputs.build_file }}
  deploy:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/haydenpierce1/eb-cli:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GH_ACCESS_TOKEN }}
    steps:
      - name: Download a single artifact
        id: download
        uses: actions/download-artifact@v3
        with:
          name: build_prod.zip

      - name: Output build contents
        run: echo ${{steps.download.outputs.download-path}}

      - name: Initialize AWS Credentials
        run: |
          mkdir /root/.aws
          echo "[profile eb-cli]" >> /root/.aws/config
          echo "aws_access_key_id = ${{ secrets.AWS_SECRET_KEY_ID }}" >> /root/.aws/config
          echo "aws_secret_access_key = ${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> /root/.aws/config

      - name: Initialize EB CLI
        run: |
          mkdir /.elasticbeanstalk
          echo "deploy:" >> /.elasticbeanstalk/config.yml
          echo "  artifact: ${{steps.download.outputs.download-path}}" >> /.elasticbeanstalk/config.yml
          echo "branch-defaults:" >> /.elasticbeanstalk/config.yml
          echo "  default:" >> /.elasticbeanstalk/config.yml
          echo "    environment: My-app-2-env" >> /.elasticbeanstalk/config.yml
          echo "environment-defaults:" >> /.elasticbeanstalk/config.yml
          echo "  My-app-2-env:" >> /.elasticbeanstalk/config.yml
          echo "    branch: null" >> /.elasticbeanstalk/config.yml
          echo "    repository: null" >> /.elasticbeanstalk/config.yml
          echo "global:" >> /.elasticbeanstalk/config.yml
          echo "  application_name: my-app-2" >> /.elasticbeanstalk/config.yml
          echo "  default_ec2_keyname: null" >> /.elasticbeanstalk/config.yml
          echo "  default_platform: PHP 8.2 running on 64bit Amazon Linux 2023" >> /.elasticbeanstalk/config.yml
          echo "  default_region: us-east-2" >> /.elasticbeanstalk/config.yml
          echo "  include_git_submodules: true" >> /.elasticbeanstalk/config.yml
          echo "  instance_profile: null" >> /.elasticbeanstalk/config.yml
          echo "  platform_name: null" >> /.elasticbeanstalk/config.yml
          echo "  platform_version: null" >> /.elasticbeanstalk/config.yml
          echo "  profile: eb-cli" >> /.elasticbeanstalk/config.yml
          echo "  sc: null" >> /.elasticbeanstalk/config.yml
          echo "  workspace_type: Application" >> /.elasticbeanstalk/config.yml

      - name: Show EB config
        run: cat /.elasticbeanstalk/config.yml

      - name: EB Deploy
        run: eb deploy --staged
