name: Manual Trigger on Tag

on:
  workflow_dispatch:
    inputs:
      foobar:
        description: 'Random Input'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Display Tag Name
        run: echo "Tag name is ${{ github }}"
