name: Manual Trigger on Tag

on:
  workflow_dispatch:
#    inputs:
#      foobar:
#        description: 'Random Input'
#        required: true

jobs:
  build:
#    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    container: php:latest
    steps:
      - name: Display Tag Name
        run: echo "Tag name is ${{ toJson(github) }}"

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Generate build
        run: echo "build_file=$(php src/build.php)\n" >> $GITHUB_OUTPUT
        id: generate_build

      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.generate_build.outputs.build_file }}
          path: ${{ steps.generate_build.outputs.build_file }}
  deploy:
    needs: build
    runs-on: ubuntu-latest
    container: php:latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ steps.generate_build.outputs.build_file }}

      - name: Output build contents
        run: ls -R /__w/

      - name: Output build contents
        run: cat ${{ steps.generate_build.outputs.build_file }}


