name: Manual Trigger on Tag

on:
  workflow_dispatch:
#    inputs:
#      foobar:
#        description: 'Random Input'
#        required: true

jobs:
  build:
#    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    container: php:latest
    steps:
      - name: Install zip extention. FIXME
        run: apt-get update && apt-get -y install libzip-dev && pecl install zip && docker-php-ext-enable zip

      - name: Display Tag Name
        run: echo "Tag name is ${{ toJson(github) }}"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate build
        run: echo "build_file=$(php src/build.php)\n" >> $GITHUB_OUTPUT
        id: generate_build

      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: build_prod.zip
          path: ${{ steps.generate_build.outputs.build_file }}
  deploy:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/haydenpierce1/eb-cli:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    steps:
      - name: Download a single artifact
        id: download
        uses: actions/download-artifact@v3
        with:
          name: build_prod.zip

      - name: Output build contents
        run: echo ${{steps.download.outputs.download-path}}

      - name: Output build contents
        run: " echo -e \"
deploy:
  artifact: /${{steps.download.outputs.download-path}}
branch-defaults:
  default:
    environment: My-app-2-env
environment-defaults:
  My-app-2-env:
    branch: null
    repository: null
global:
  application_name: my-app-2
  default_ec2_keyname: null
  default_platform: PHP 8.2 running on 64bit Amazon Linux 2023
  default_region: us-east-2
  include_git_submodules: true
  instance_profile: null
  platform_name: null
  platform_version: null
  profile: eb-cli
  sc: null
  workspace_type: Application
        \""





