name: Manual Trigger on Tag

on:
  workflow_dispatch:
    inputs:
      foobar:
        description: 'Random Input'
        required: true

jobs:
  build:
#    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    container: php:latest
    steps:
      - name: Display Tag Name
        run: echo "Tag name is ${{ toJson(github) }}"
      - name: Generate build
        run: php src/build.php
